body
{
	background-attachment: fixed;
	background-image: url("../img/background.png");
	color: #444444;
	font-family: Cambria, Georgia, "Times New Roman", serif;
	margin: 0em 1em;
}


#container
{
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	max-width: 576px;
}


h1, h2
{
	font-family: "Segoe UI Light", "Segoe UI", "Helvetica Light", Helvetica, Arial, sans-serif;
	font-weight: lighter;
	text-align: center;
}


h1
{
	background-color: #530FAD;
	color: #FFFFFF;
	font-size: 4em;
	line-height: 104%;
	margin: 0em;
	padding: 0.5em 0.25em;
}


h2
{
	background-color: #E40045;
	color: #FFFFFF;
	font-size: 1.75em;
	margin: 0em;
	padding: 0.25em 0.125em;
	text-transform: uppercase;
}


a, a:link
{
	color: #444444;
	text-decoration: none;
	transition: color 0.25s;
	-moz-transition: color 0.25s;
	-o-transition: color 0.25s;
	-webkit-transition: color 0.25s;
}


a:visited
{
	color: #444444;
}


a:hover
{
	color: #E40045;
	text-decoration: none;
}


div#list_profiles
{
	float: left;
	width: 58%;
}


ul#list_profiles
{
	font-size: 1.7em;
	list-style-type: none;
}


ul#list_profiles li
{
	line-height: 164%;
}


ul#list_profiles li img
{
	height: 16px;
}


div#list_loves
{
	float: left;
	width: 42%;
}


ul#list_loves
{
	font-size: 1.35em;
	line-height: 185%;
	list-style-type: none;
}


ul#list_loves li
{
	line-height: 185%;
}


ul#list_loves li span
{
	color: #E40045;
}


#list_clear
{
	clear: both;
}


#email
{
	background-image: url("../img/email.png");
	height: 96px;
	margin-left: auto;
	margin-right: auto;
	width: 320px;
}


#email:hover
{
	background: url("../img/email.png") 0px -96px;
}


#classygames
{
	padding: 2em 0.5em 1em 0.5em;
}


#classygames_icon
{
	background-image: url("../img/classygames.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 48px 48px;
	float: left;
	height: 48px;
	width: 25%;
}


#classygames_text
{
	float: left;
	font-size: 1.25em;
	line-height: 130%;
	margin: 0em;
	width: 75%;
}


#classygames_clear
{
	clear: both;
}


@media (max-width: 980px)
{
	#container
	{
		max-width: 88%;
	}


	div#list_profiles, div#list_loves
	{
		float: none;
		width: 100%;
	}


	#list_clear
	{
		clear: none;
	}
}
